.buttonLink{
    background-image: url(https://imgkub.com/images/2022/08/05/login-bitsized-mobile-icon.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 90%;
    border: 2px solid var(--COLOR-SMOKE);
    border-radius: 100%;
    height: 40px;
    padding: 2px;
    width: 40px;
}
.container :global(.vtex-button){
    transition: 800ms;
}
.container :global(.vtex-button):hover{
    background-color:rgba(135, 25, 168, 0.2);
    transition: 800ms;
}
