.submenuWrapper--isOpen{
    background-color: white;
    transition: 800ms;
}
.styledLinkContent{
    transition: 800ms;
}

.menuItem:hover{
    background-color: rgba(135, 25, 168, 0.2);
    border-radius: 0.3rem;
    transition: 800ms;
}
.submenu .styledLinkContent:hover{
    transition: 800ms;
}